<button mat-icon-button class="menu__icon" #layerTrigger="matMenuTrigger" [matMenuTriggerFor]="visibilityMenu" aria-label="layers menu button">
    <mat-icon>layers</mat-icon>
</button>
<form [formGroup]="layerMenu">
    <mat-menu #visibilityMenu="matMenu" xPosition="before" hasBackdrop="true">
        <div sciStopClick class="menu__form menu__form--visibility">
            <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
            <div class="menu__row">
                <mat-checkbox color="primary" class="menu__control" formControlName="cmeContours">
                    Contour surface
                </mat-checkbox>
                <div class="menu__value">
                    ({{layerMenu.value.contourVariable?.displayName}})
                </div>
                <div class="menu__fill"></div>
                <div mat-menu-item sciStopClick class="menu__control" #contourTrigger="matMenuTrigger" [matMenuTriggerFor]="contourMenu" (click)="contourTrigger.toggleMenu()"></div>
            </div>
            <mat-checkbox color="primary" formControlName="lonSlice">
                Latitudinal slice
                <span *ngIf="layerMenu.value.lonSlice">{{ lonSliceAngle !== '0' ? 'at ' + lonSliceAngle + '&deg;' : '' }}</span>
                <span *ngIf="layerMenu.value.lonSlice" mat-menu-item class="menu__control" [matMenuTriggerFor]="latMenu"></span>
            </mat-checkbox>
            <mat-checkbox color="primary" formControlName="latSlice">Meridional slice</mat-checkbox>
            <mat-checkbox color="primary" formControlName="radialSlice">Radial slice at 1AU</mat-checkbox>
            <mat-checkbox color="primary" formControlName="lonStreamlines">Magnetic fieldlines</mat-checkbox>
            <mat-checkbox color="primary" formControlName="satFieldlines">Satellite fieldlines</mat-checkbox>
            <mat-checkbox color="primary" formControlName="satellites">Satellites</mat-checkbox>
        </div>
    </mat-menu>
    <mat-menu #contourMenu xPosition="after">
        <div sciStopClick class="menu__form">
            <mat-icon matTooltip="close" matTooltipPosition="above" class="menu__close" (click)="contourTrigger.closeMenu(); $event.stopPropagation()">close</mat-icon>
            <div class="menu__row">
                <mat-form-field class="menu__control">
                    <mat-label>Contour variable</mat-label>
                    <mat-select [compareWith]="compareObjectNames" formControlName="contourVariable">
                        <mat-option *ngFor="let variable of variableConfigurations | keyvalue" [value]="variable.value">
                            {{ variable.value.displayName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="menu__control">
                    <mat-label>Number of contours</mat-label>
                    <input matInput type="number" min="2" max="10" formControlName="numberOfContours">
                </mat-form-field>
                <mat-button-toggle-group class="menu__toggle-button" formControlName="contourArea" color="primary" aria-label="contour type, cme or all">
                    <mat-button-toggle value="cme">CME</mat-button-toggle>
                    <mat-button-toggle value="all">All</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <strong>Range of {{ layerMenu.value.contourVariable.displayName }}</strong>
                <small innerHTML=" ({{layerMenu.value.contourVariable.units}})"></small>
            </div>
            <ngx-slider laspEnhancedNgxSlider [options]="contourOptions" [value]="contourRange[0]" [highValue]="contourRange[1]" (userChange)="updateContourRange($event)"></ngx-slider>
            <div>
                <strong>Contour surface values</strong>
                <div>
                    {{ contourArray | json }}
                </div>
            </div>
        </div>
    </mat-menu>
    <mat-menu #latMenu xPosition="after">
        <div sciStopClick *ngIf="layerMenu.value.lonSlice" class="menu__form">
            <ng-container *ngIf="showAngleAdjust">
                <div>
                    <mat-form-field>
                        <mat-label>Angle of ecliptic slice (&deg;)</mat-label>
                        <input matInput type="number" [min]="lonSliceOptions.validRange[0]" [max]="lonSliceOptions.validRange[1]" [value]="lonSliceAngle" [step]="lonSliceOptions.stepSize" (change)="updateLonSliceAngle($event)">
                        <mat-hint>From {{ lonSliceOptions.validRange[1] }} to {{ lonSliceOptions.validRange[0] }}</mat-hint>
                    </mat-form-field>
                    <div class="menu__relative-container">
                        <div class="earth-dot"></div>
                        <mat-slider min="-100" max="100" disabled="true" value="0" [style.transform]="'rotate(' + -lonSliceAngle + 'deg)'"></mat-slider>
                    </div>
                </div>
            </ng-container>
        </div>
    </mat-menu>
</form>
