.menu {
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__control {
		&--inline {
			display: inline;
		}
	}
	&__icon {
		background-color: transparentize(black, .4);
		border-radius: 0;
		color: white;
	}
	&__more-info {
		width: 350px;
	}
	&__value {
		color: silver;
	}
}