<button mat-icon-button matTooltip="Zoom options" class="menu__icon" #zoomTrigger="matMenuTrigger" [matMenuTriggerFor]="zoomMenu" aria-label="layers menu button">
    <mat-icon>{{ zoomState ? 'zoom_in' : 'zoom_out' }}</mat-icon>
</button>
<mat-menu class="zoom-menu" #zoomMenu xPosition="before">
	<div class="menu__control menu__control--center">
		<div mat-menu-item sciStopClick class="menu__row menu__row--margin">
			Mouse&nbsp;zoom&nbsp;{{ zoomState ? 'on' : 'off' }}&nbsp;&nbsp;
			<mat-slide-toggle [checked]="zoomState" (change)="toggleZoom()" color="primary"></mat-slide-toggle>
		</div>
		<button mat-raised-button sciStopClick (click)="resetZoom()">reset zoom</button>
	</div>
</mat-menu>
