.form {
    &__hidden {
        visibility: hidden;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.2rem;
    }
    &__spacer {
        margin-bottom: 1rem;
    }
    &__right-align {
        text-align: right;
    }
}
