<div mat-dialog-content>
    @if (data.catalog) {
        <swt-run-selector
            [runId]="data.runId"
            [catalog]="data.catalog"
            (updateRunId)="updateRunId($event)"
        >
        </swt-run-selector>
    }
</div>
<div mat-dialog-actions>
    @if (previousSelection) {
        <button mat-button [mat-dialog-close]="previousSelection">Cancel</button>
    }
    <button mat-raised-button color="primary" [disabled]="!data.runId" [mat-dialog-close]="data.runId">Select</button>
</div>
