<h2 mat-dialog-title class="dialog__title">
    Select a model run:
</h2>
<div mat-dialog-content class="dialog__content">
    @if (data.catalog) {
        <swt-run-selector
            [selectedRun]="data.selectedRun"
            [catalog]="data.catalog"
            [screenDimensions]="data.screenDimensions"
            (updateRunSelection)="updateRunSelection($event)"
        >
        </swt-run-selector>
    }
</div>
<div mat-dialog-actions>
    @if (previousSelection) {
        <button mat-button [mat-dialog-close]="previousSelection">Cancel</button>
    }
    <button mat-raised-button color="primary" [disabled]="!data.selectedRun" [mat-dialog-close]="data.selectedRun">Select</button>
</div>
