@import 'src/theme/theme-colors.scss';

.layers {
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__toggle-button {
		height: 2rem;
		align-items: center;
		.mat-button-toggle {
			width: 4em;
		}
		.mat-button-toggle-checked {
			background-color: $color-primary;
			&.mat-button-toggle-appearance-standard {
				color: white;
			}
		}
	}
	&__value {
		color: silver;
	}
}