<form [formGroup]="layers">
    <ul class="layers__list">
        <li>
            <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="lonSlice">
                Equatorial slice
                <span class="form__value">({{layers.value.lonSliceType | titlecase}})</span>
            </mat-checkbox>
            <ul *ngIf="layers.value.lonSlice" class="layers__list">
                <li>
                    <mat-radio-group class="layers__group" formControlName="lonSliceType" aria-label="slice through either ecliptic or solar equator">
                        <mat-radio-button value="ecliptic">Ecliptic</mat-radio-button>
                        <mat-radio-button value="solar-equator">Solar equator</mat-radio-button>
                    </mat-radio-group>
                </li>
            </ul>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="latSlice">Meridional slice</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="radialSlice">Radial slice at 1AU</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="lonStreamlines">Magnetic fieldlines</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="satFieldlines">Satellite fieldlines</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color="primary" formControlName="satellites">Satellites</mat-checkbox>
        </li>
    </ul>
</form>
