<mat-expansion-panel
    class="control__expander"
    [expanded]="expansionState?.features"
    (opened)="expansionState.features = true; updateConfig()"
    (closed)="expansionState.features = false; updateConfig()"
    >
    <mat-expansion-panel-header class="control__header">
        <mat-panel-title>
            Features
        </mat-panel-title>
    </mat-expansion-panel-header>
    <swt-features [pvView]="pvView"></swt-features>
</mat-expansion-panel>
<mat-expansion-panel
    class="control__expander"
    [expanded]="expansionState?.slices"
    (opened)="expansionState.slices = true; updateConfig()"
    (closed)="expansionState.slices = false; updateConfig()"
    >
    <mat-expansion-panel-header class="control__header">
        <mat-panel-title>
            Slices
        </mat-panel-title>
    </mat-expansion-panel-header>
    <swt-slices [pvView]="pvView"></swt-slices>
</mat-expansion-panel>
<mat-expansion-panel
    class="control__expander"
    [expanded]="expansionState?.contours"
    (opened)="expansionState.contours = true; updateConfig()"
    (closed)="expansionState.contours = false; updateConfig()"
    >
    <mat-expansion-panel-header class="control__header">
        <mat-panel-title>
            Surface
        </mat-panel-title>
    </mat-expansion-panel-header>
    <swt-contours [pvView]="pvView"></swt-contours>
</mat-expansion-panel>
<mat-expansion-panel
    class="control__expander"
    [expanded]="expansionState?.colors"
    (opened)="expansionState.colors = true; updateConfig()"
    (closed)="expansionState.colors = false; updateConfig()"
    >
    <mat-expansion-panel-header class="control__header">
      <mat-panel-title>
        Color
      </mat-panel-title>
    </mat-expansion-panel-header>
    <swt-colors [pvView]="pvView"></swt-colors>
</mat-expansion-panel>
