@import 'src/theme/theme-colors.scss';

.control-panel {
    margin: 1rem;
    position: fixed;
    z-index: 2;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
    &__controls{
        display: flex;
        justify-content: space-between;
        &--child {
            margin-left: 2rem;
        }
        &--column {
            flex-direction: column;
        }
    }
    &__full-width-slider {
        width: 100%;
    }
    &__slider-labels {
        color: transparentize(black, 0.3);
        display: flex;
        font-size: 0.66rem;
        justify-content: space-between;
        position: relative;
        top: -1rem;
        width: 100%;
    }
    &__spacer {
        margin: 1rem 0;
        position: relative !important;
    }
}
