@import 'src/theme/theme-colors.scss';

.control-panel {
    &__controls{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        &--child {
            margin-left: 2rem;
        }
        &--column {
            flex-direction: column;
        }
    }
    &__control {
        &--full-width {
            width: 100%;
        }
    }
    &__header {
        text-align: center;
    }
    &__hint {
        font-size: small;
        display: flex;
        line-height: 1.3;
        small {
            margin-right: 1em;
        }
    }
    &__spacer {
        margin: 1rem 0;
        position: relative !important;
    }
    &__threshold {
        opacity: 0;
        // TODO: use angular animate to animate entire element in, fade and grow
        &--expand {
            opacity: 1;
            transition: opacity 2s;
        }
    }
    // ngx-slider styles
    ::ng-deep {
        .ngx-slider .ngx-slider-selection {
            background: $color-primary;
        }

        .ngx-slider-pointer {
            width: 14px;
            height: 14px;
            background-color: $color-primary;
            top: -5px;
        }

        .ngx-slider .ngx-slider-pointer:after {
            display: none;
        }

        .ngx-slider-active {
            outline: none;
            border: 2px solid #5E9ED6;
        }
    }
}
