@import 'src/theme/theme-colors.scss';

.control-panel {
    &__relative-container {
        position: relative
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        &--column {
            flex-direction: column;
            align-items: flex-start;
        }
        &--space-around {
            justify-content: space-around;
        }
    }
    &__control {
        margin-bottom: 0.3rem;
        &--full-width {
            width: 100%;
        }
        &--half {
            max-width: 50%;
        }
        &--narrow {
            max-width: 150px;
        }
    }
    &__dropdown-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__hint {
        display: flex;
        flex-direction: column;
        margin-right: 1em;
    }
    &__hints {
        font-size: small;
        display: flex;
        line-height: 1.3;
        flex-wrap: wrap;
    }
    &__label {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    &__more-info {
        opacity: 0;
        width: 100%;
        // TODO: use angular animate to animate entire element in, fade and grow
        &--expand {
            opacity: 1;
            transition: opacity 2s;
        }
    }
    &__spacer {
        margin: 1rem 0;
        position: relative !important;
    }
    &__swatch {
        height: 20px;
    }
    // ngx-slider styles
    ::ng-deep {
        .ngx-slider .ngx-slider-selection {
            background: $color-primary;
        }

        .ngx-slider-pointer {
            width: 14px;
            height: 14px;
            background-color: $color-primary;
            top: -5px;
        }

        .ngx-slider .ngx-slider-pointer:after {
            display: none;
        }

        .ngx-slider-tick {
            left: -10px;
        }

        .ngx-slider-ticks-values-under .ngx-slider-tick-value {
            bottom: 20px;
        }

        .ngx-slider-active {
            outline: none;
            border: 2px solid #5E9ED6;
        }
    }
}

.earth-dot {
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    right: 27px;
    top: 22px;
}
