@import 'src/theme/theme-colors.scss';

.control-panel {
    margin: 0 1rem;
    position: absolute;
    z-index: 2;
    &__controls{
        display: flex;
        justify-content: space-between;
        &--child {
            margin-left: 2rem;
        }
        &--column {
            flex-direction: column;
        }
    }
    &__full-width-slider {
        width: 100%;
    }
    &__header {
        text-align: center;
    }
    &__spacer {
        margin: 1rem 0;
        position: relative !important;
    }
    // ngx-slider styles
    ::ng-deep {
        .ngx-slider .ngx-slider-selection {
            background: $color-primary;
        }

        .ngx-slider-pointer {
            width: 14px;
            height: 14px;
            background-color: $color-primary;
            top: -5px;
        }

        .ngx-slider .ngx-slider-pointer:after {
            display: none;
        }

        .ngx-slider-active {
            outline: none;
            border: 2px solid #5E9ED6;
        }
    }
}
