<mat-card class="control-panel">
    <mat-card-title>
        Control Panel
    </mat-card-title>
    <div class="control-panel__controls">
        Mouse zoom {{ zoomState }}
        <mat-slide-toggle checked (click)="toggleZoom()" color="primary"></mat-slide-toggle>
    </div>
    <button mat-raised-button color="accent" (click)="resetZoom()">reset zoom</button>
    <mat-divider class="control-panel__spacer"></mat-divider>
    <form [formGroup]="controlPanel" class="control-panel__controls control-panel__controls--column">
        <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonSlice">Ecliptic plane</mat-checkbox>
        <mat-checkbox color="primary" formControlName="latSlice">Meridional section</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonStreamlines">Solar wind streamlines</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonArrows">Solar wind vectors</mat-checkbox>
    <div class="control-panel__drag-handle" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
    </div>
    <mat-form-field>
        <mat-label>Color variable</mat-label>
        <mat-select formControlName="colorVariable">
            <mat-option *ngFor="let variable of colorVariables" [value]="variable">
                {{variable}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <div class="control-panel__header">
            <div>
                <strong>Opacity</strong>
            </div>
            {{ controlPanel.value.opacity }}%
        </div>
        <mat-slider
            class="control-panel__full-width-slider"
            color="primary"
            formControlName="opacity"
            min="0"
            max="100"
            step="10"
            [value]="controlPanel.value.opacity"
            tickInterval="10"
            aria-label="opacity"
        ></mat-slider>
    </div>
    </form>
    <ng-container *ngIf="timeTicks[0]">
        <div class="control-panel__drag-handle" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="control-panel__header">
            <div>
                <strong>Date</strong>
            </div>
            {{  timeTicks[timeIndex] | amFromUnix | amUtc | amDateFormat: 'YYYY-MM-DD HH:00 UTC' }}
        </div>
        <mat-slider
        class="control-panel__full-width-slider"
        [class.control-panel__full-width-slider--pulsing]="playing"
        color="primary"
        [min]="0"
        [max]="timeTicks.length - 1"
        [(value)]= "timeIndex"
        aria-label="time-selector"
        (change)="newTimestep($event)"
        ></mat-slider>
        <div class="control-panel__slider-labels">
            <div class="control-panel__slider-label">
                {{  timeTicks[0] | amFromUnix | amUtc |  amDateFormat: 'YYYY-MM-DD HH:00'}}
            </div>
            <div class="control-panel__slider-label control-panel__slider-label--right">
                {{ timeTicks[timeTicks.length - 1] | amFromUnix | amUtc  |  amDateFormat: 'YYYY-MM-DD HH:00'}}
            </div>
        </div>
        <div class="control-panel__time-player" (click)="togglePlay()">
            <mat-icon *ngIf="!playing">play_arrow</mat-icon>
            <mat-icon *ngIf="playing">pause</mat-icon>
        </div>
    </ng-container>
</mat-card>
