<mat-card class="control-panel">
    <mat-card-title>
        Control Panel
    </mat-card-title>
    <div class="control-panel__controls">
        <strong>Snap to view</strong>
        <button mat-raised-button color="primary" (click)="snapTo('ecliptic')">ecliptic</button>
        <button mat-raised-button color="primary" (click)="snapTo('meridional')">meridional</button>
    </div>
    <div class="control-panel__controls">
        <strong>Mouse zoom {{ zoomState }}</strong>
        <mat-slide-toggle checked (click)="toggleZoom()" color="primary"></mat-slide-toggle>
        <button mat-raised-button color="primary" (click)="resetZoom()">reset zoom</button>
    </div>
    <div class="control-panel__hint">
        <small>Rotate <code>shift+left&#8209;click</code></small>
        <small>Pan <code>shift+right&#8209;click</code></small>
        <small>Zoom in/out <code>ctrl+up/down</code></small>
    </div>

    <mat-divider class="control-panel__spacer"></mat-divider>
    <form [formGroup]="controlPanel" class="control-panel__controls control-panel__controls--column">
        <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonSlice">Ecliptic plane</mat-checkbox>
        <mat-checkbox color="primary" formControlName="latSlice">Meridional section</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonStreamlines">Solar wind streamlines</mat-checkbox>
        <mat-checkbox color="primary" formControlName="lonArrows">Magnetic field vectors</mat-checkbox>
        <mat-checkbox color="primary" formControlName="threshold">Select a threshold…</mat-checkbox>
        <div class="control-panel__threshold" [class.control-panel__threshold--expand]="controlPanel.value.threshold">
            <ng-container *ngIf="controlPanel.value.threshold">
                <mat-form-field class="control-panel__control control-panel__control--full-width">
                    <mat-label>Threshold variable</mat-label>
                    <mat-select formControlName="thresholdVariable">
                        <mat-option *ngFor="let variable of variables" [value]="variable">
                            {{ variable.displayName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="control-panel__header">
                    <div>
                        <strong>{{ controlPanel.value.thresholdVariable.displayName }} range</strong>
                        <small innerHTML=" ({{controlPanel.value.thresholdVariable.units}})"></small>
                    </div>
                </div>
                <ngx-slider [options]="thresholdOptions" [value]="thresholdRange[0]" [highValue]="thresholdRange[1]" (userChange)="updateThresholdRange($event)"></ngx-slider>
            </ng-container>
        </div>
        <mat-divider class="control-panel__spacer"></mat-divider>

        <mat-form-field>
            <mat-label>Color variable</mat-label>
            <mat-select formControlName="colorVariable">
                <mat-option *ngFor="let variable of variables" [value]="variable">
                    {{ variable.displayName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <div class="control-panel__header">
                <div>
                    <strong>Opacity</strong>
                </div>
                {{ controlPanel.value.opacity[0] }}% to {{ controlPanel.value.opacity[1] }}%
            </div>
            <ngx-slider [options]="opacityOptions" formControlName="opacity"></ngx-slider>
            <div class="control-panel__header">
                <div>
                    <strong>Color range</strong>
                    <small innerHTML=" ({{ controlPanel.value.colorVariable.units }})"></small>
                </div>
            </div>
            <ngx-slider [options]="colorOptions" [value]="colorRange[0]" [highValue]="colorRange[1]" (userChange)="updateColorRange($event)"></ngx-slider>
        </div>
    </form>
</mat-card>
