<div class="home">
    <div class="home__message" >
        <p>
            Explore heliosphere model runs in 3 dimensions
        </p>
        @if (isLoggedIn) {
            <a routerLink="/visualizer"><button mat-raised-button color="primary">Go to visualizer</button></a>
        }
        @if (!isLoggedIn) {
            <button mat-button (click)="profileService.onSignInClick('/visualizer')">Sign in/Register</button>
        }
    </div>
    <div class="home__media">
        <img src="https://swx-trec.com/swx-trec-assets/h3lioviz/enlil-3d.gif" alt="movie showing 3-d visualization of solar wind model">
    </div>
</div>
