@import 'src/theme/theme-colors.scss';

:host {
    text-align: center;
    color: white;
    background-color: transparentize(black, 0.15);
}

.home {
    padding: 50px;
    &__media {
        background-color: $color-primary;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    &__message {
        display: block;
        font-size: large;
        height: 7rem;
    }
}
