@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:host {
    text-align: center;
    color: white;
    background-color: transparentize(black, 0.15);
}

.home {
    padding: 50px;
    &__media {
        background-color: $color-primary;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    &__message {
        font-size: large;
        &--server {
            text-align: left;
        }
    }
    &__state {
        &--stopped {
            color: $color-warn;
        }
        &--started {
            color: $color-success;
        }
        &--active {
            animation: pulse 1s infinite alternate ease-in-out;
        }
    }
}
