<div class="home">
    <a *ngIf="isLoggedIn" class="home__message" routerLink="/visualizer"><button mat-raised-button color="primary">Go to visualizer</button></a>
    <div *ngIf="!isLoggedIn" class="home__message">
        <button mat-button (click)="profileService.onSignInClick('/visualizer')">Sign in/Register</button>
        <p>
            Explore heliosphere model runs in 3 dimensions
        </p>
    </div>
    <div class="home__media">
        <img src="https://swx-trec.com/swx-trec-assets/enlil/enlil-3d.gif" alt="movie showing Enlil 3-d visualization">
    </div>
</div>
