@use 'src/theme/theme-colors.scss';

$expand-collapse-duration: 225ms;
$more-info-height: 200px;
$paginator-height: 56px;

@keyframes expand-collapse {
    from { height: 0px; }
    to { height: $more-info-height; }
}

:host {
    position: relative;
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    .mat-mdc-cell {
        white-space: pre-line;
        padding: 2px;
        text-align: center;
    }
    .mat-mdc-header-row {
        font-weight: bold;
    }
    .mat-mdc-row:hover {
        background: #eee;
        cursor: pointer;
    }
    .mat-mdc-row.highlighted {
        background: #ccc;
    }
}

.selector-table {
    &__container {
        max-height: calc(63dvh - #{$paginator-height});
        overflow-y: auto;
    }
    &__detail {
          height: 0;
          td {
            padding: 0;
            border-bottom-width: 0;
          }
    }
    &__expand {
        overflow: hidden;

        &--collapse {
            animation: expand-collapse $expand-collapse-duration ease-in reverse;
        }

        &--expand {
            animation: expand-collapse $expand-collapse-duration ease-out;
        }
    }
    &__info {
        color: theme-colors.$color-info;
    }
    &__more {
        text-align: left;
        padding: 1rem;
        height: $more-info-height;
        overflow: scroll;
        background: #eee;
        cursor: default;
    }
}
.paginator{
    &--narrow {
        ::ng-deep {
            .mat-mdc-paginator-page-size-label {
                display: none;
            }
        }
    }
    &--narrowest {
        ::ng-deep {
            .mat-mdc-paginator-range-label {
                display: none;
            }
        }
    }
}
