@import 'src/theme/theme-colors.scss';

:host {
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    .mat-mdc-cell {
        white-space: pre-line;
        padding: 2px;
        text-align: center;
    }
    .mat-mdc-header-row {
        font-weight: bold;
    }
    .mat-column-run_id {
        width: 1px;
    }
    .mat-mdc-row:hover {
        background: #eee;
        cursor: pointer;
    }
    .mat-mdc-row.highlighted {
        background: #ccc;
    }
}


.selector-table {
    &__detail {
          height: 0;
          td {
            padding: 0;
            border-bottom-width: 0;
          }
    }
    &__expand {
        overflow: hidden;
    }
    &__info {
        color: $color-info;
    }
    &__more {
        text-align: left;
        padding: 1rem;
        height: 200px;
        overflow: scroll;
        background: #eee;
        cursor: default;
    }
}