<div class="selector-table__container">
    <table mat-table recycleRows [dataSource]="tableData" matSort multiTemplateDataRows>
        @for (column of displayedColumns; track column) {
            <ng-container [matColumnDef]="column">
                @if (column !== 'more') {
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[column] }} </th>
                    <td mat-cell *matCellDef="let run" > {{ run[column] }} </td>
                }
                @if (column === 'more') {
                    <th mat-header-cell *matHeaderCellDef> More info </th>
                    <td laspStopClick mat-cell *matCellDef="let run" (click)="this.toggleExpandedRun(run)">
                        @if (expandedRun?.run_id !== run.run_id) {
                            <mat-icon class="selector-table__info">info</mat-icon>
                        }
                        @if (expandedRun?.run_id === run.run_id) {
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        }
                    </td>
                }
            </ng-container>
        }
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="moreDetail">
            <td mat-cell *matCellDef="let run" [attr.colspan]="displayedColumns.length">
                <div class="selector-table__expand" [@detailExpand]="expandedRun?.run_id === run.run_id ? 'expanded' : 'collapsed'" >
                    @if( expandedRun?.run_id === run.run_id ) {
                        <div class="selector-table__more">
                            @for (item of allMetadata; track item) {
                                <div >
                                    <strong>{{ item }}{{ headers[item] ? ' ("' + headers[item] + '")' : null }}:</strong> {{ run[item ] }}
                                </div>
                            }
                        </div>
                    }
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
        <tr mat-row *matRowDef="let run; columns: displayedColumns;"
            [class.highlighted]="selection.isSelected(run)"
            (click)="newSelection(run)"
            >
        </tr>
        <tr mat-row *matRowDef="let detail; columns: ['moreDetail']" class="selector-table__detail"></tr>
    </table>
</div>
<mat-paginator
    [class.paginator--narrow]="this.screenDimensions?.[0] < 582"
    [class.paginator--narrowest]="this.screenDimensions?.[0] < 461"
    [pageSizeOptions]="pageSizeOptions"
    [length]="tableData.data.length"
    [pageSize]="pageSize"
    (page)="paginationChange($event)"
    [showFirstLastButtons]="this.screenDimensions?.[0] > 702"
    aria-label="Select page of available model runs">
</mat-paginator>