@import 'src/theme/theme-colors.scss';
@keyframes fade {
  0%,100% { opacity: 0.1 }
  50% { opacity: 1 }
}
@keyframes fade-less {
  0%,100% { opacity: 0.6 }
  50% { opacity: 1 }
}

.time-player {
    width: 100%;
    text-align: center;
    padding: 0.3rem 1rem;
    line-height: 1;
    &__controls {
        line-height: 0;
        mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
    }
    &__slider {
        width: 100%;
        &--pulsing {
            ::ng-deep {
                .mdc-slider__track--active_fill {
                    opacity: 1;
                    animation: fade 2s linear infinite;
                }
                .mdc-slider__thumb-knob {
                    opacity: 1;
                    animation: fade-less 2s linear infinite;
                }
            }
        }
    }
    &__slider-label {
        &--right {
            text-align: right;
        }
    }
    &__slider-labels {
        color: transparentize(black, 0.3);
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.66rem;
        justify-content: space-between;
        line-height: 0;
        position: relative;
        top: -2.3rem;
        width: 100%;
    }
}
