@use "sass:color";
@use 'src/theme/theme-colors.scss';

$download-text-width: 220px;
$icon-width: 50px;


@keyframes fade {
  0%,100% { opacity: 0.1 }
  50% { opacity: 1 }
}
@keyframes fade-less {
  0%,100% { opacity: 0.6 }
  50% { opacity: 1 }
}

.time-player {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0.3rem 1rem;
    line-height: 1;
    &__action {
        mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
        &--disabled {
            opacity: 0.3;
            pointer-events: none;
        }
        // center the play/pause button for wider screens
        &--large-screen {
            position: absolute;
            line-height: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
    }
    &__crosshair {
        position: absolute;
        height: 3rem;
        width: 0.12rem;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 5;
        pointer-events: none;
    }
    &__crosshair-label {
        position: absolute;
        font-size: x-small;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 6;
        pointer-events: none;
        transform: translateX(-50%);
        padding: 0.1rem 0.2rem;
        border-radius: 5%;
    }
    &__download-control {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        visibility: visible;
        &--hidden {
            visibility: hidden;
        }
        &--hover{
            &:hover{
                .mat-icon {
                    color: theme-colors.$color-warn;
                }
            }
        }
        &--icon {
            width: $icon-width;
            margin-right: 1rem;
        }
        &--small {
            gap: 0;
        }
        &--text {
            width: $download-text-width;
        }
    }
    &__record {
        color: theme-colors.$color-warn;
        animation: none;
        &--active {
            animation: fade 2s linear infinite;
        }
    }
    &__slider {
        width: 100%;
        &--pulsing {
            ::ng-deep {
                .mdc-slider__track--active_fill {
                    opacity: 1;
                    animation: fade 2s linear infinite;
                }
                .mdc-slider__thumb-knob {
                    opacity: 1;
                    animation: fade-less 2s linear infinite;
                }
                pointer-events: none;
            }
        }
    }
    &__slider-label {
        &--right {
            text-align: right;
        }
    }
    &__slider-labels {
        color: color.adjust(black, $alpha: -0.3);
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.66rem;
        justify-content: space-between;
        line-height: 0;
        position: relative;
        top: -2.3rem;
        width: 100%;
    }
    &__spacer {
        flex-grow: 1;
    }
}
// Only have one set of player controls in the app, hide the ones in scicharts
::ng-deep {
    .image-viewer__controls {
        button {
            display: none;
        }
        span {
            display: none;
        }
        .image-viewer__loop-controls {
            display: none !important;
        }
    }
}