@import 'src/theme/theme-colors.scss';
@keyframes fade {
  0%,100% { opacity: 0.1 }
  50% { opacity: 1 }
}

.time-player {
    width: 100%;
    text-align: center;
    padding: 0.3rem 1rem;
    line-height: 1;
    &__slider {
        width: 100%;
        height: 1.3rem;
        &--pulsing {
            ::ng-deep {
                .mat-slider-track-wrapper {
                    opacity: 1;
                    animation: fade 2s linear infinite;
                }
            }
        }
    }
    &__slider-label {
        &--right {
            text-align: right;
        }
    }
    &__slider-labels {
        color: transparentize(black, 0.3);
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.66rem;
        justify-content: space-between;
        position: relative;
        top: -1.3rem;
        width: 100%;
    }
}
