<div class="time-player">
    <div>{{  timeTicks[timeIndex] | amFromUnix | amUtc | amDateFormat: 'YYYY-MM-DD HH:00 UTC' }}</div>
    <mat-slider
        class="time-player__slider"
        [class.time-player__slider--pulsing]="_playingService.playing$ | async"
        color="primary"
        [min]="0"
        [max]="timeTicks.length - 1"
        aria-label="time-selector"
        >
        <input
            matSliderThumb
            [(value)]= "timeIndex"
            (change)="newTimestep({ value: timeIndex })"
            (mousemove)="hoverTimeline($event)"
            (mouseleave)="mouseleave()"
            />
        <div class="time-player__crosshair" [style.left]="crosshairPositionPercent + '%'" tabindex="0"></div>
        <div class="time-player__crosshair-label" [style.left]="crosshairPositionPercent + '%'" tabindex="0">{{ hoveredTime | amFromUnix | amUtc | amDateFormat: 'HH:00' }}</div>
    </mat-slider>
    <div class="time-player__slider-labels">
        <div class="time-player__slider-label">
            {{  timeTicks[0] | amFromUnix | amUtc |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
        <div class="pv__slider-label pv__slider-label--right">
            {{ timeTicks[timeTicks.length - 1] | amFromUnix | amUtc  |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
    </div>
    <div class="time-player__controls">
        @if ( screenWidth > 700 ) {
            <div class="time-player__spacer"></div>
        }
        <div class="time-player__action" [class.time-player__action--disabled]="timeIndex === timeTicks.length - 1" [class.time-player__action--large-screen]="screenWidth > 700" (click)="togglePlay()">
            @if (_playingService.playing$ | async) {
                <mat-icon>pause</mat-icon>
            } @else {
                <mat-icon>play_arrow</mat-icon>
            }
        </div>
        <div class="time-player__download-control">
            <div
                matTooltip="Record and save images"
                class="time-player__download-control
                time-player__download-control--hover
                time-player__download-control--text"
                (click)="startImageCapture()"
            >
                @if (makeImageArray) {
                    <mat-icon class="time-player__record" [class.time-player__record--active]="makeImageArray">circle</mat-icon>
                    Recording&nbsp;image&nbsp;sequence
                } @else {
                    <mat-icon>adjust</mat-icon>
                    Capture&nbsp;image&nbsp;sequence
                }
            </div>
            <div class="time-player__download-control time-player__download-control--icon">
                @if ( makeImageArray ) {
                    <div
                        class="time-player__download-control time-player__download-control--small"
                        matTooltip="Stop recording images"
                        (click)="stopImageCapture()">
                        <mat-icon
                        >stop</mat-icon>
                        stop
                    </div>
                }
                @if ( !makeImageArray && imageArray.length > 0) {
                    <mat-icon
                        class="time-player__download-control"
                        matTooltip="Download saved images"
                        [matMenuTriggerFor]="surfaceMenu"
                        >
                        download
                    </mat-icon>
                }
            </div>
            <mat-menu #surfaceMenu="matMenu">
                <button mat-menu-item (click)="downloadImages()">Download images</button>
                <button mat-menu-item (click)="downloadMovie()">Download movie</button>
            </mat-menu>
        </div>
    </div>
</div>
