<div class="time-player">
    <div>{{  timeTicks[timeIndex] | amFromUnix | amUtc | amDateFormat: 'YYYY-MM-DD HH:00 UTC' }}</div>
    <mat-slider
        class="time-player__slider"
        [class.time-player__slider--pulsing]="playing"
        color="primary"
        [min]="0"
        [max]="timeTicks.length - 1"
        aria-label="time-selector"
        >
        <input
            matSliderThumb
            [(value)]= "timeIndex"
            (change)="newTimestep({ value: timeIndex })"
            (mousemove)="hoverValue($event)"
            (mouseleave)="mouseleave()"
            />
        <div class="time-player__crosshair" [style.left]="crosshairPositionPercent + '%'" tabindex="0"></div>
    </mat-slider>
    <div class="time-player__slider-labels">
        <div class="time-player__slider-label">
            {{  timeTicks[0] | amFromUnix | amUtc |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
        <div class="pv__slider-label pv__slider-label--right">
            {{ timeTicks[timeTicks.length - 1] | amFromUnix | amUtc  |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
    </div>
    <div class="time-player__controls" [class.time-player__controls--disabled]="timeIndex === timeTicks.length - 1" (click)="togglePlay()">
        @if (!playing) {
            <mat-icon>play_arrow</mat-icon>
        }
        @if (playing) {
            <mat-icon>pause</mat-icon>
        }
    </div>
</div>
