<div class="time-player">
    <div>{{  timeTicks[timeIndex] | amFromUnix | amUtc | amDateFormat: 'YYYY-MM-DD HH:00 UTC' }}</div>
    <mat-slider
        class="time-player__slider"
        [class.time-player__slider--pulsing]="_playingService.playing$ | async"
        color="primary"
        [min]="0"
        [max]="timeTicks.length - 1"
        aria-label="time-selector"
        >
        <input
            matSliderThumb
            [(value)]= "timeIndex"
            (change)="newTimestep({ value: timeIndex })"
            (mousemove)="hoverTimeline($event)"
            (mouseleave)="mouseleave()"
            />
        <div class="time-player__crosshair" [style.left]="crosshairPositionPercent + '%'" tabindex="0"></div>
        <div class="time-player__crosshair-label" [style.left]="crosshairPositionPercent + '%'" tabindex="0">{{ hoveredTime | amFromUnix | amUtc | amDateFormat: 'HH:00' }}</div>
    </mat-slider>
    <div class="time-player__slider-labels">
        <div class="time-player__slider-label">
            {{  timeTicks[0] | amFromUnix | amUtc |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
        <div class="pv__slider-label pv__slider-label--right">
            {{ timeTicks[timeTicks.length - 1] | amFromUnix | amUtc  |  amDateFormat: 'YYYY-MM-DD HH:00'}}
        </div>
    </div>
    <div class="time-player__controls">
            <div class="time-player__spacer"></div>
            <div class="time-player__action" [class.time-player__action--disabled]="timeIndex === timeTicks.length - 1" (click)="togglePlay()">
                @if (_playingService.playing$ | async) {
                    <mat-icon>pause</mat-icon>
                } @else {
                    <mat-icon>play_arrow</mat-icon>
                }
            </div>
            <div class="time-player__download-controls">
                <div matTooltip="Select images for download" class="time-player__download-controls time-player__download-controls--hover" (click)="toggleMakeImageArray()">
                    @if (makeImageArray) {
                        <mat-icon class="time-player__record" [class.time-player__record--active]="imageArray.length > 0">circle</mat-icon>
                        Saving&nbsp;image&nbsp;sequence
                    } @else {
                        <mat-icon>adjust</mat-icon>
                        Save&nbsp;image&nbsp;sequence
                    }
                </div>
                @if (imageArray.length > 0) {
                    <mat-icon
                        matTooltip="Download selected images"
                        [matMenuTriggerFor]="surfaceMenu"
                        class="time-player__download"
                        [class.time-player__download--hidden]="imageArray.length === 0"
                        [class.time-player__download--disabled]="_playingService.playing$ | async"
                    >
                        download
                    </mat-icon>
                }
                <mat-menu #surfaceMenu="matMenu">
                    <button mat-menu-item (click)="downloadImages()">Download images</button>
                    <button mat-menu-item (click)="downloadMovie()">Download movie</button>
                </mat-menu>
            </div>
    </div>
</div>
