    .hint {
        display: flex;
		color: white;
        flex-direction: column;
        margin-left: 0.5rem;
		code {
			background-color: rgba(255, 255, 255, 0.3);
		}
    }
    .hints {
        flex-wrap: wrap;
        font-size: smaller;
        display: flex;
        line-height: 1.3;
		margin-bottom: 1rem;
    }
