    .hint {
        display: flex;
        color: white;
        flex-direction: column;
        code {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    .hint-action {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        mat-icon {
            font-size: 1rem;
            height: 1rem;
            width: 1rem;
        }
    }
    .hints {
        display: flex;
        flex-wrap: wrap;
        font-size: smaller;
        gap: 0.5rem;
        line-height: 1.3;
    }
