<button mat-icon-button matTooltip="Select visible layers" class="menu__icon" #layerTrigger="matMenuTrigger" [matMenuTriggerFor]="visibilityMenu" aria-label="layers menu button">
    <mat-icon>layers</mat-icon>
</button>
<form [formGroup]="layerMenu">
    <mat-menu #visibilityMenu="matMenu" xPosition="before">
        <div sciStopClick class="layer-menu__form layer-menu__form--visibility">
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__row">
                <mat-checkbox color="primary" class="menu__control menu__control--row" formControlName="cmeContours">
                    {{ layerMenu.value.contourArea === 'cme' ? 'CME c' : 'C'}}ontour surface<span *ngIf="layerMenu.value.numberOfContours !== 1">s</span>:
                </mat-checkbox>
                <div>
                    {{layerMenu.value.numberOfContours}}&nbsp;
                </div>
                <div class="layer-menu__value">
                    ({{layerMenu.value.contourVariable?.displayName}})
                </div>
                <div class="menu__fill"></div>
                <div mat-menu-item #contourTrigger="matMenuTrigger" [matMenuTriggerFor]="contourMenu"></div>
            </div>
            <div mat-menu-item class="menu__row">
                <mat-checkbox color="primary" class="menu__control menu__control--row" formControlName="lonSlice">
                    Equatorial slice
                </mat-checkbox>
                <div  class="layer-menu__value">
                    ({{layerMenu.value.lonSliceType}})
                </div>
                <div class="menu__fill"></div>
                <div mat-menu-item #lonTrigger="matMenuTrigger" [matMenuTriggerFor]="lonSliceMenu"></div>
            </div>
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="latSlice">Meridional slice</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="radialSlice">Radial slice at 1AU</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="lonStreamlines">Magnetic fieldlines</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="satFieldlines">Satellite fieldlines</mat-checkbox>
            </div>
            <div mat-menu-item>
                <mat-checkbox color="primary" formControlName="satellites">Satellites</mat-checkbox>
            </div>
        </div>
    </mat-menu>
    <mat-menu #contourMenu xPosition="after">
        <div sciStopClick class="layer-menu__form">
            <div class="menu__row">
                <mat-form-field class="menu__control menu__control--row">
                    <mat-label>Contour variable</mat-label>
                    <mat-select [compareWith]="compareObjectNames" formControlName="contourVariable">
                        <mat-option *ngFor="let variable of variableConfigurations | keyvalue" [value]="variable.value">
                            {{ variable.value.displayName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="menu__control menu__control--row">
                    <mat-label>Number of contours</mat-label>
                    <input matInput type="number" min="2" max="10" formControlName="numberOfContours">
                </mat-form-field>
                <mat-button-toggle-group class="layer-menu__toggle-button" formControlName="contourArea" color="primary" aria-label="contour type, cme or all">
                    <mat-button-toggle value="cme">CME</mat-button-toggle>
                    <mat-button-toggle value="all">All</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <strong>Range of {{ layerMenu.value.contourVariable.displayName }}</strong>
                <small innerHTML=" ({{layerMenu.value.contourVariable.units}})"></small>
            </div>
            <ngx-slider laspEnhancedNgxSlider [options]="contourOptions" [value]="contourRange[0]" [highValue]="contourRange[1]" (userChange)="updateContourRange($event)"></ngx-slider>
            <div>
                <strong>Contour surface values</strong>
                <div>
                    {{ contourArray | json }}
                </div>
            </div>
        </div>
    </mat-menu>
    <mat-menu #lonSliceMenu xPosition="after">
        <div sciStopClick>
            <mat-radio-group formControlName="lonSliceType" aria-label="slice through either ecliptic or solar equator">
                <mat-radio-button class="menu__control menu__control--col" value="Ecliptic">Ecliptic</mat-radio-button>
                <mat-radio-button value="Solar-equator">Solar equator</mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-menu>
</form>
