<button mat-icon-button matTooltip="Select visible layers" class="menu__icon" #layerTrigger="matMenuTrigger" [matMenuTriggerFor]="visibilityMenu" aria-label="layers menu button">
    <mat-icon>layers</mat-icon>
</button>
<form [formGroup]="layerMenu">
    <mat-menu #visibilityMenu="matMenu" xPosition="after">
        <div class="layer-menu__form layer-menu__form--visibility">
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="cme">CME</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__checkbox menu__checkbox--trigger">
                <mat-checkbox color="primary" class="menu__control" formControlName="lonSlice">
                    Equatorial slice
                    <span class="layer-menu__value">({{layerMenu.value.lonSliceType | titlecase}})</span>
                </mat-checkbox>
                <div mat-menu-item #lonTrigger="matMenuTrigger" [matMenuTriggerFor]="lonSliceMenu"></div>
            </div>
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="latSlice">Meridional slice</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="radialSlice">Radial slice at 1AU</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="lonStreamlines">Magnetic fieldlines</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="satFieldlines">Satellite fieldlines</mat-checkbox>
            </div>
            <div mat-menu-item class="menu__checkbox">
                <mat-checkbox color="primary" formControlName="satellites">Satellites</mat-checkbox>
            </div>
        </div>
    </mat-menu>
    <mat-menu #lonSliceMenu xPosition="after">
        <div sciStopClick>
            <mat-radio-group formControlName="lonSliceType" aria-label="slice through either ecliptic or solar equator">
                <mat-radio-button class="menu__control" value="ecliptic">Ecliptic</mat-radio-button>
                <mat-radio-button value="solar-equator">Solar equator</mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-menu>
</form>
