@use '@angular/material' as mat;
@import './theme-palette';

@include mat.all-component-typographies();
@include mat.core();
$typography: mat.define-typography-config();

$theme: mat.define-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    ),
    typography: $typography,
    density: 0
));

@include mat.all-component-themes( $theme );

