@use '@angular/material' as mat;
@import './theme-palette';

// from https://material.angular.io/guide/theming:
// "The theme file should not be imported into other SCSS files.
// This will cause duplicate styles to be written into your CSS output.
// If you want to consume the theme definition object (e.g., $candy-app-theme) in other SCSS files,
// then the definition of the theme object should be broken into its own file,
// separate from the inclusion of the mat-core and angular-material-theme mixins."

// this file defines color variables that can be used throughout the app
// the initial variable declarations with the palettes need to be repeated from the theme file

$primary:                   mat.m2-define-palette($swt-blue, 400);
$accent:                    mat.m2-define-palette($swt-sky, 300, 500, 700);
$warn:                      mat.m2-define-palette($lasp-red, 300, 500, 700);

$color-primary:             mat.m2-get-color-from-palette($primary);
$color-primary-contrast:    mat.m2-get-color-from-palette($primary, default-contrast);
$color-accent:              mat.m2-get-color-from-palette($accent);
$color-warn:                mat.m2-get-color-from-palette($warn);

$color-info: #617cbc;
$color-success: #80d5be;

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();
$typography: mat.m2-define-typography-config();

$theme: mat.m2-define-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    ),
    typography: $typography,
    density: 0
));

@include mat.all-component-themes( $theme );