<div class="plots">
    <h2 class="plots__header">Images/plots:</h2>
    <form class="plots__controls" [formGroup]="plotForm">
        <mat-form-field>
            <mat-label>Solar images</mat-label>
            <mat-select laspSelectAutoClose formControlName="image" multiple>
                @for (imageOption of imageList; track imageOption) {
                    <mat-option [value]="imageOption">{{imageData[imageOption].displayName}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Model data</mat-label>
            <mat-select laspSelectAutoClose formControlName="model" multiple>
                @for (variable of focusModelVariables; track variable) {
                    <mat-option [value]="variable.serverName">
                        {{ variable.displayName }}
                    </mat-option>
                }
                <button
                    class="plots__more"
                    mat-button
                    [disabled]="additionalModelVariableSelected"
                    (click)="showAllModel = !showAllModel">
                    {{ showAllModel ? 'Fewer options' : 'More options…' }}
                </button>
                @if (showAllModel) {
                    @for (variable of additionalModelVariables; track variable) {
                        <mat-option [value]="variable.serverName">
                            {{ variable.displayName }}
                        </mat-option>
                    }
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Observed data</mat-label>
            <mat-select laspSelectAutoClose formControlName="observed" multiple>
                @for (variable of focusObservedVariableList; track variable) {
                    <mat-option [value]="variable">
                        {{ variable | titlecase }}
                    </mat-option>
                }
                <button
                    class="plots__more"
                    mat-button
                    [disabled]="additionalObservedVariableSelected"
                    (click)="showAllObserved = !showAllObserved">
                    {{ showAllObserved ? 'Fewer options' : 'More options…' }}
                </button>
                @if (showAllObserved) {
                    @for (variable of additionalObservedVariableList; track variable) {
                        <mat-option [value]="variable">
                            {{ variable | titlecase }}
                        </mat-option>
                    }
                }
            </mat-select>
        </mat-form-field>
    </form>
    <mat-checkbox class="plots__option"[formControl]="legendCardToggle">Show legend cards</mat-checkbox>
    <sci-grid [class.plots__static]="_playingService.playing$ | async"></sci-grid>
    <div class="plots__filler"></div>
    <p>
        <small>
            ACE data provided by the ACE MAG and ACE SWEPAM instrument teams and the ACE Science Center <a href="http://www.srl.caltech.edu/ACE/ASC/" target="_blank">http://www.srl.caltech.edu/ACE/ASC/</a>.<br>
            SDO/AIA data provided by NASA/SDO <a href="https://sdo.gsfc.nasa.gov/" target="_blank">https://sdo.gsfc.nasa.gov/</a> and the AIA, EVE, and HMI science teams.<br>
            SOHO is a project of international cooperation between ESA and NASA. STEREO (Solar TErrestrial RElations Observatory) is the third mission in NASA's Solar Terrestrial Probes program (STP).
        </small>
    </p>
</div>
