@use 'src/theme/theme-colors.scss';

.plots {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__controls {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    &__filler {
        flex: 1 1 auto;
    }
    &__header {
        display: inline;
    }
    &__option {
        text-align: right;
    }
    &__more {
        margin: 0.5rem;
    }
    &__static {
        pointer-events: none;
    }
}
::ng-deep {
    .grid-tile.grid-tile--type-XAXIS {
        sci-toolbar-button {
            display: none;
        }
    }
}
