<div class="plots">
    <h2 class="plots__header">Images/plots:</h2>
    <form class="plots__controls" [formGroup]="plotForm">
        <mat-form-field>
            <mat-label>Solar images</mat-label>
            <mat-select laspSelectAutoClose formControlName="image" multiple>
                @for (imageOption of imageList; track imageOption) {
                    <mat-option [value]="imageOption">{{imageData[imageOption].displayName}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Model data</mat-label>
            <mat-select laspSelectAutoClose formControlName="model" multiple>
                @for (variableOption of variableList; track variableOption) {
                    <mat-option [value]="variableOption">{{variableOption}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Observed data</mat-label>
            <mat-select laspSelectAutoClose formControlName="observed" multiple>
                @for (variableOption of observedVariableList; track variableOption) {
                    <mat-option [value]="variableOption">{{variableOption}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    <sci-grid [class.plots__static]="_playingService.playing$ | async"></sci-grid>
    <div class="plots__filler"></div>
    <p>
        <small>
            ACE data provided by the ACE MAG and ACE SWEPAM instrument teams and the ACE Science Center <a href="http://www.srl.caltech.edu/ACE/ASC/" target="_blank">http://www.srl.caltech.edu/ACE/ASC/</a>.<br>
            SDO/AIA data provided by NASA/SDO <a href="https://sdo.gsfc.nasa.gov/" target="_blank">https://sdo.gsfc.nasa.gov/</a> and the AIA, EVE, and HMI science teams.<br>
            SOHO is a project of international cooperation between ESA and NASA. STEREO (Solar TErrestrial RElations Observatory) is the third mission in NASA's Solar Terrestrial Probes program (STP).
        </small>
    </p>
</div>
