.plots {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__controls {
        display: flex;
        gap: 0.5rem;
        > * {
            width: 30%
        }
    }
    &__filler {
        flex: 1 1 auto;
    }
    &__header {
        display: inline;
    }
}
::ng-deep {
    .grid-tile--type-XAXIS {
        sci-toolbar-button {
            display: none;
        }
    }
    .expand-close-button {
        display: none;
    }
    .title {
        .mat-icon {
            display: none;
        }
    }
}
