<button mat-icon-button matTooltip="Color settings" class="menu__icon" #colorTrigger="matMenuTrigger" [matMenuTriggerFor]="colorMenu" aria-label="layers menu button">
    <mat-icon>palette</mat-icon>
</button>
<mat-menu #colorMenu xPosition="after">
	<form sciStopClick class="color-menu" [formGroup]="colorForm">
        <div class="menu__row menu__row--wrap">
            <mat-form-field class="menu__control">
                <mat-label>Color variable</mat-label>
                <mat-select [compareWith]="compareObjectNames" formControlName="colorVariable">
                    <mat-option *ngFor="let variable of variableConfigurations | keyvalue" [value]="variable.value">
                        {{ variable.value.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="menu__control">
                <mat-label>
                    Colormap for {{ variableConfigurations[ colorVariableServerName ].displayName }}
                </mat-label>
                <mat-select [compareWith]="compareObjectNames" formControlName="colormap">
                    <mat-option *ngFor="let color of colormaps | keyvalue" [value]="color.value">
                        <div class="menu__row">
                            {{ color.value.displayName }} <img class="color-menu__swatch" [src]="color.value.imgSrc">
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider class="menu__spacer"></mat-divider>
        <div class="menu__row menu__row--margin">
            <strong>
                Color range
                <small innerHTML=" ({{ variableConfigurations[ colorVariableServerName ].units }})"></small>
            </strong>
            <button
                mat-raised-button color="primary"
                (click)="scaleColorRange()"
                >
                scale to view
            </button>
        </div>
        <img [src]="colorForm.value.colormap?.imgSrc" height="20" width="100%" [style.paddingRight]="colorbarRightOffset" [style.paddingLeft]="colorbarLeftOffset" [style.maxWidth]="'418px'">
        <ngx-slider laspEnhancedNgxSlider [options]="colorOptions" [value]="colorRange[0]" [highValue]="colorRange[1]" (userChange)="updateColorRange($event)"></ngx-slider>
        <mat-divider class="menu__spacer"></mat-divider>
        <strong>Opacity gradient </strong>
        <ngx-slider laspEnhancedNgxSlider [options]="opacityOptions" ngDefaultControl formControlName="opacity"></ngx-slider>
	</form>
</mat-menu>
