.colors {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    &__swatch {
        height: 20px;
    }
}