@use 'src/theme/theme-colors.scss';

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.server {
    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__status {
        color: theme-colors.$color-primary;
        &--started {
            color: theme-colors.$color-success;
        }
        &--active {
            animation: pulse 1s infinite alternate ease-in-out;
        }
    }
}
