@import 'src/theme/theme-colors.scss';

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.server {
    &__state {
        &--stopped {
            color: $color-warn;
        }
        &--started {
            color: $color-success;
        }
        &--active {
            animation: pulse 1s infinite alternate ease-in-out;
        }
    }
}
