<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer class="drawer" #drawer [mode]="splitDirection === 'vertical' ? 'over' : 'side'" [style.width]="controlPanelSize + 'px'">
        Control Panel Here
    </mat-drawer>
<div *ngIf="!validConnection" class="viz__loading viz__loading--disconnect">
    <ng-container *ngIf="errorMessage">
        <p class="viz__error">{{ errorMessage }}</p>
        <button mat-raised-button color="primary" (click)="refresh()">Retry connection</button>
    </ng-container>
    <swt-server-status *ngIf="!errorMessage"></swt-server-status>
    <p *ngIf="!errorMessage && !pvServerStarted">{{waitingMessage}}</p>
    <p *ngIf="!errorMessage && pvServerStarted">connecting to websocket…</p>
    <mat-spinner *ngIf="!errorMessage" color="primary" diameter="40"></mat-spinner>
</div>
    <div class="viz" [style.height]="componentMaxHeight + 'px'" [class.viz__fade]="!validConnection">
        <as-split unit="pixel" [direction]="splitDirection" (dragEnd)="dragEnd($event)">
            <as-split-area
            class="viz__panel viz__panel--full-width"
            [size]="vizPanelSize"
            [minSize]="controlPanelSize + 20"
            [order]="0">
                <mat-toolbar *ngIf="runId$ | async">
                    <mat-toolbar-row *ngIf="splitDirection === 'horizontal'" class="viz__toolbar viz__toolbar--buttons">
                        <button mat-raised-button color="primary" aria-label="toggle control panel" (click)="toggleControlPanel()">
                            {{ openControls ? 'Hide' : 'Show' }} Controls
                        </button>
                        <button mat-raised-button color="primary" aria-label="toggle plots panel" (click)="togglePlotsPanel()">
                            {{ openPlots ? 'Hide' : 'Show' }} Plots
                        </button>
                    </mat-toolbar-row>
                    <mat-toolbar-row *ngIf="splitDirection === 'horizontal'" class="viz__toolbar viz__toolbar--title">
                        <small>{{ runTitle }}</small>
                        <button mat-icon-button aria-label="button to select a new model run">
                            <mat-icon matTooltip="switch model runs" (click)="openDialog()">
                                    compare_arrows
                            </mat-icon>
                        </button>
                    </mat-toolbar-row>
                    <mat-toolbar-row *ngIf="splitDirection === 'vertical'" class="viz__toolbar viz__toolbar--single-row">
                        <div></div>
                        <div >
                            <small>{{ runTitle }}</small>
                            <button mat-icon-button aria-label="button to select a new model run">
                                <mat-icon matTooltip="switch model runs">
                                        compare_arrows
                                </mat-icon>
                            </button>
                        </div>
                        <button mat-raised-button color="primary" aria-label="toggle control panel" (click)="toggleControlPanel()">
                            {{ openControls ? 'Hide' : 'Show' }} Controls
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div class="viz__container">
                    <swt-run-selector class="viz__row" *ngIf="catalog && validConnection && (runId$ | async) == null" [catalog]="catalog" (updateRunId)="updateRunId($event)"></swt-run-selector>
                    <mat-hint *ngIf="validConnection" class="viz__error viz__error--warn">{{ errorMessage }}</mat-hint>
                    <div class="viz__overlay" *ngIf="runId$ | async">
                        <div class="viz__menus">
                            <swt-layer-menu [pvView]="pvView"></swt-layer-menu>
                            <swt-orientation-menu [pvView]="pvView"></swt-orientation-menu>
                            <swt-zoom-menu [pvView]="pvView"></swt-zoom-menu>
                            <swt-color-menu [pvView]="pvView"></swt-color-menu>
                        </div>
                        <swt-hints class="viz__hints"></swt-hints>
                        <div *ngIf="loading" class="viz__loading">
                            <mat-spinner color="accent" diameter="40"></mat-spinner>
                        </div>
                    </div>
                    <div #pvContent
                        class="viz__pv"
                        [class.viz__pv--empty]="(runId$ | async) == null"
                        [class.viz__pv--resizing]="resizing"
                        [style.width]="(vizDimensions[0]) + 'px'"
                        [style.height]="vizDimensions[1] + 'px'">
                    </div>
                </div>
                <swt-time-player *ngIf="timeTicks.length && (runId$ | async)" [pvView]="pvView" [timeIndex]="timeIndex" [timeTicks]="timeTicks" (updateTime)="setTimestep($event)"></swt-time-player>
            </as-split-area>
            <as-split-area class="viz__panel" *ngIf="openPlots" [size]="$any('*')" [order]="1">
                <swt-plots *ngIf="timeTicks.length && (runId$ | async)" [runId]="runId$ | async" [timeRange]="[timeTicks[0], timeTicks[timeTicks.length-1]]"></swt-plots>
            </as-split-area>
        </as-split>
    </div>
</mat-drawer-container>
