@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';

// TODO: add narrow and mobile styles (column)
:host {
    background: $color-accent;
}

.pv {
    &__container {
        display: flex;
        justify-content: center;
        margin: 1rem;
        &--viewer {
            height: 100vh;
        }
    }
    &__content {
        align-items: center;
        position: relative;
        width: 100vh;
        z-index: 1
    }
    &__error {
        color: $color-warn;
    }
    &__fade {
        opacity: 20%;
    }
    &__loading {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        z-index: 1;
        &--disconnect {
            color: transparentize(black, 0.3);
            height: 100%;
            width: 100%;
        }
    }
}
