@import 'src/theme/theme-colors.scss';

// TODO: add narrow and mobile styles (column)
:host {
    background: $color-accent;
}

.viz {
    &__container {
        position: relative;
        z-index: 1;
    }
    &__error {
        display: flex;
        align-items: center;
    }
    &__fade {
        // note: percentages for opacity do not work on Firefox
        opacity: 0.2;
        // disable mouse interactions
        pointer-events: none;
    }
	&__fill {
		flex: 1 1 auto;
	}
    &__hints {
        position: absolute;
        bottom: 0;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--disconnect {
            color: transparentize(black, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__menus {
        display: flex;
        position: absolute;
        right: 0;
        z-index: 1;
        height: 100%;
        justify-content: space-between;
        *:not(:last-child) {
            margin-right: 0.25rem;
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__panel {
        position: relative;
        background-color: white;
        padding: 0.7rem;
        &--full-width {
            padding: 0;
        }
    }
    &__pv {
        position: relative;
    }
    &__split {
        position: relative;
        height: 100%;
        width: 100%;
    }
}
