@import 'src/theme/theme-colors.scss';

// TODO: add narrow and mobile styles (column)
:host {
    background: $color-accent;
}

.viz {
    &__container {
        position: relative;
        z-index: 1;
    }
    &__error {
        display: flex;
        align-items: center;
        &--warn {
            color: $color-warn;
        }
    }
    &__fade {
        // note: percentages for opacity do not work on Firefox
        opacity: 0.2;
        // disable mouse interactions
        pointer-events: none;
    }
    &__hints {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        &--disconnect {
            color: transparentize(black, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__menus {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        right: 0;
        z-index: 1;
        justify-content: space-between;
        gap: 0.25rem;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__panel {
        position: relative;
        background-color: white;
        padding: 0.7rem;
        &--full-width {
            padding: 0;
        }
    }
    &__pv {
        opacity: 1;
        filter: brightness(100%) blur(0);
        position: relative;
        transition: filter 150ms ease-out, opacity 150ms ease-out;
        &--empty {
            background: radial-gradient(white, gray);
            opacity: 0.8;
            ::ng-deep {
                img {
                    visibility: hidden;
                }
            }
        }
        &--resizing {
            filter: brightness(80%) blur(4px);
        }
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__split {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__toolbar {
        &--title {
            justify-content: center;
            height: 20px;
        }
        &--buttons {
            justify-content: space-between;
            height: 40px;
            padding: 0 2px;
        }
        &--single-row {
            gap: 1rem;
            justify-content: flex-end;
            height: 60px;
            padding: 0 2px;
        }
    }
}
