@import 'src/theme/theme-colors.scss';

// for some reason these are needed here to register, the ones in styles.scss have no effect
:host {
    --scicharts-accent: #{$color-accent};
    --scicharts-info: #{$color-info};
    --scicharts-primary: #{$color-primary};
    --scicharts-primary-contrast: #{$color-primary-contrast};
}

.viz {
    &__cme-metadata {
        margin-top: 2rem;
        margin-left: 1rem;
        color: white;
        display: flex;
        flex-direction: column;}
    &__container {
        position: relative;
        z-index: 1;
    }
    &__error {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem;
        &--warn {
            color: $color-warn;
        }
    }
    &__fade {
        // note: percentages for opacity do not work on Firefox
        opacity: 0.2;
        // disable mouse interactions
        pointer-events: none;
    }
    &__hints {
        position: absolute;
        bottom: 0.25rem;
        left: 0.25rem;
        z-index: 1;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        &--disconnect {
            color: transparentize(black, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__menus {
        width: 100%;
        display: flex;
        position: absolute;
        right: 0;
        z-index: 1;
        justify-content: space-between;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__panel {
        position: relative;
        background-color: white;
        padding: 0.7rem;
        &--full-width {
            padding: 0;
        }
    }
    &__pv {
        opacity: 1;
        filter: brightness(100%) blur(0);
        position: relative;
        transition: filter 150ms ease-out, opacity 150ms ease-out;
        &--empty {
            background: radial-gradient(white, gray);
            opacity: 0.8;
            ::ng-deep {
                img {
                    visibility: hidden;
                }
            }
        }
        &--resizing {
            filter: brightness(80%) blur(4px);
        }
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__split {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__toolbar {
        height: 45px;
        justify-content: space-between;
        padding: 0 4px;
    }
}
