@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;

.pv {
    &__container {
        display: flex;
        justify-content: center;
        background-color: transparentize(black, 0.1);
    }
    &__content {
        position: relative;
        width: 100vh;
        align-items: center;
        z-index: 1
    }
}
