<div *ngIf="!validConnection" class="viz__loading viz__loading--disconnect">
    <ng-container *ngIf="errorMessage">
        <p class="viz__error">{{ errorMessage }}</p>
        <button mat-raised-button color="primary" (click)="triggerStart()">Retry connection</button>
    </ng-container>
    <swt-server-status *ngIf="!errorMessage"></swt-server-status>
    <p *ngIf="!errorMessage && !pvServerStarted">{{waitingMessage}}</p>
    <p *ngIf="!errorMessage && pvServerStarted">connecting to websocket…</p>
    <mat-spinner *ngIf="!errorMessage" color="primary" diameter="40"></mat-spinner>
</div>
<div class="viz__split" [class.viz__fade]="!validConnection">
    <as-split direction="horizontal">
        <as-split-area class="viz__panel" [size]="visualizerSplit[0]">
            <swt-control-panel [pvView]="pvView"></swt-control-panel>
        </as-split-area>
        <as-split-area class="viz__panel" [size]="visualizerSplit[1]">
            <swt-time-player *ngIf="timeTicks[0]" [pvView]="pvView" [timeTicks]="timeTicks" (updateTime)="getTimestep($event)"></swt-time-player>
            <div class="viz__pv-container">
                <div *ngIf="loading" class="viz__loading">
                    <mat-spinner color="accent" diameter="40"></mat-spinner>
                </div>
                <div #pvContent class="viz__pv"></div>
            </div>
        </as-split-area>
    </as-split>
</div>
