@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';

// TODO: add narrow and mobile styles (column)
:host {
    background: $color-accent;
}

.viz {
    &__error {
        color: $color-warn;
    }
    &__fade {
        opacity: 20%;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        &--disconnect {
            color: transparentize(black, 0.3);
            height: 100%;
            width: 100%;
        }
    }
    &__panel {
        padding: 0.5rem;
    }
    &__pv {
        position: relative;
        z-index: 1
    }
    &__pv-container {
        position: relative;
        max-width: 85vh;
        width: 100%;
    }
    &__split {
        position: relative;
        height: 100vh;
        width: 100%;
    }
}
