@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';

.pv {
    &__container {
        background-color: transparentize(black, 0.1);
        display: flex;
        justify-content: center;
    }
    &__content {
        align-items: center;
        position: relative;
        width: 100vh;
        z-index: 1
    }
    &__loading {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        z-index: 1;
    }
}
