@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';

// TODO: add narrow and mobile styles (column)
:host {
    background: $color-accent;
}

.viz {
    &__error {
        display: flex;
        align-items: center;
    }
    &__fade {
        // note: percentages for opacity do not work on Firefox
        opacity: 0.2;
        // disable mouse interactions
        pointer-events: none;
    }
    &__icon {
        color: $color-primary;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        &--disconnect {
            color: transparentize(black, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__panel {
        padding: 0.5rem;
    }
    &__pv {
        position: relative;
        z-index: 1
    }
    &__pv-container {
        position: relative;
        max-width: 85vh;
        width: 100%;
    }
    &__split {
        position: relative;
        height: 100vh;
        width: 100%;
    }
}
