<mat-drawer-container [hasBackdrop]="splitDirection === 'vertical'">
    <mat-drawer class="drawer" #drawer [mode]="splitDirection === 'vertical' ? 'over' : 'side'" [style.width]="controlPanelSize + 'px'" (closedStart)="openControls = false; setControlPanel()">
        @if ( !validConnection) {
            <div class="viz__loading viz__loading--disconnect"></div>
        }
        @else if ((runId$ | async)) {
            <swt-control-panel [pvView]="pvView"></swt-control-panel>
        }
    </mat-drawer>
    @if (!validConnection) {
        <div class="viz__loading viz__loading--disconnect">
            @if (errorMessage) {
                <p class="viz__error">{{ errorMessage }}</p>
                <button mat-raised-button color="primary" (click)="refresh()">Retry connection</button>
            }
            @if (!errorMessage) {
                <swt-server-status></swt-server-status>
            }
            @if (!errorMessage && !pvServerStarted) {
                <p>{{waitingMessage}}</p>
            }
            @if (!errorMessage && pvServerStarted) {
                <p>connecting to websocket…</p>
            }
            @if (!errorMessage) {
                <mat-spinner color="primary" diameter="40"></mat-spinner>
            }
        </div>
    }
    <div class="viz" [style.height]="componentMaxHeight + 'px'" [class.viz__fade]="!validConnection">
        <as-split unit="pixel" [direction]="splitDirection" (dragEnd)="dragEnd($event)">
            <as-split-area
                class="viz__panel viz__panel--full-width"
                [size]="vizPanelSize"
                [minSize]="controlPanelSize + 60"
                [order]="0">
                    @if (runId$ | async) {
                        <mat-toolbar class="viz__toolbar">
                            <button mat-raised-button color="primary" aria-label="toggle control panel" (click)="toggleControlPanel()">
                                {{ openControls ? 'Hide' : 'Show' }} Controls
                            </button>
                            <button mat-button matTooltip="Select model run" matTooltipPosition="above" (click)="openDialog()">
                                {{ showTitle ? runTitle : 'Select' }}
                                <mat-icon>
                                    keyboard_arrow_down
                                </mat-icon>
                            </button>
                            @if (splitDirection === 'horizontal') {
                                <button mat-raised-button color="primary" aria-label="toggle plots panel" (click)="togglePlotsPanel()">
                                    {{ openPlots ? 'Hide' : 'Show' }} Plots
                                </button>
                            }
                        </mat-toolbar>
                    }
                <div class="viz__container">
                    @if (validConnection) {
                        <mat-hint class="viz__error viz__error--warn">{{ errorMessage }}</mat-hint>
                    }
                    @if (runId$ | async) {
                        <div class="viz__overlay">
                            <div class="viz__menus">
                                <div class="viz__cme-metadata">
                                    @if ( hasCmeMetadata ) {
                                        <div>
                                            <strong>CME time:</strong> {{ _cmeMetadata.time }}
                                        </div>
                                        <div>
                                            <strong>Cone half angle:</strong> {{ _cmeMetadata.coneHalfAngle }}
                                        </div>
                                        <div>
                                            <strong>Latitude:</strong> {{ _cmeMetadata.latitude }}
                                        </div>
                                        <div>
                                            <strong>Longitude:</strong> {{ _cmeMetadata.longitude }}
                                        </div>
                                        <div>
                                            <strong>Radial Velocity:</strong> {{ _cmeMetadata.radialVelocity }}
                                        </div>
                                    }
                                </div>
                                <swt-mouse-zoom [pvView]="pvView"></swt-mouse-zoom>
                                <swt-orientation-menu [pvView]="pvView"></swt-orientation-menu>
                            </div>
                            <swt-hints class="viz__hints"></swt-hints>
                            @if (loading) {
                                <div class="viz__loading">
                                    <mat-spinner color="accent" diameter="40"></mat-spinner>
                                </div>
                            }
                        </div>
                    }
                    <div #pvContent
                        class="viz__pv"
                        [class.viz__pv--empty]="(runId$ | async) == null"
                        [class.viz__pv--resizing]="resizing"
                        [style.width]="vizDimensions[0] + 'px'"
                        [style.height]="vizDimensions[1] + 'px'">
                    </div>
                </div>
                @if (timeTicks?.length && (runId$ | async)) {
                    <swt-time-player [pvView]="pvView" [timeIndex]="timeIndex" [timeTicks]="timeTicks" (updateTime)="setTimestep($event)"></swt-time-player>
                }
            </as-split-area>
            @if (openPlots || splitDirection === 'vertical' ) {
                <as-split-area class="viz__panel" [size]="$any('*')" [order]="1">
                    @if (timeTicks?.length && (runId$ | async)) {
                        <swt-plots
                            [runId]="runId$ | async"
                            [plotConfig]="plotConfig"
                            [timeRange]="[timeTicks[0], timeTicks[timeTicks.length-1]]"
                        ></swt-plots>
                    }
                </as-split-area>
            }
        </as-split>
    </div>
</mat-drawer-container>
