<form [formGroup]="slices">
    <mat-list class="layers__list">
        <mat-list-item>
            <mat-checkbox color="primary" formControlName="cme">
                @if ( slices.controls.cme.disabled ) {
                    Turn off Contour surfaces<br> to enable
                }
                CME isosurface
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox color="primary" formControlName="lonSlice">
                Equatorial slice
            </mat-checkbox>
        </mat-list-item>
        @if (slices.value.lonSlice) {
            <mat-list-item class="layers__conditional-item">
                <mat-radio-group class="layers__group" color="primary" formControlName="lonSliceType" aria-label="slice through either ecliptic or solar equator">
                    <mat-radio-button value="ecliptic">Ecliptic</mat-radio-button>
                    <mat-radio-button value="solar-equator">Solar equator</mat-radio-button>
                </mat-radio-group>
            </mat-list-item>
        }
        <mat-list-item>
            <mat-checkbox color="primary" formControlName="latSlice">Meridional slice</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox color="primary" formControlName="radialSlice">Radial slice at 1AU</mat-checkbox>
        </mat-list-item>
    </mat-list>
</form>
