.orientation {
    &__button {
        margin-top: 1rem;
        width: 100%;
    }
    &__header {
        font-weight: bold;
    }
    &__icon {
        background-color: transparentize(black, 0.7);
        border-radius: 0;
        color: white;
    }
    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 65px;
        }
    }
}