.orientation {
    &__button {
        margin-top: 1rem;
        width: 100%;
    }
    &__form-row {
        margin-top: 0.5rem;
        display: flex;
        gap: 1em;
        align-items: center;
    }
    &__header {
        font-weight: bold;
    }
    &__icon {
        background-color: white;
        border-radius: 4px;
        margin: 0.25rem;
    }
    &__menu {
        padding: 1rem;
    }
    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        font-size: smaller;
        img {
            border-radius: 4px;
            width: 65px;
        }
    }
}