/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import 'theme/theme-colors.scss';
@import 'theme/theme-lasp.scss';

@import '~lasp-base-app-snippets/styles/global.scss';
@include all((
    'primary-color': $color-primary,
    'primary-contrast-color': $color-primary-contrast,
    'accent-color': $color-accent,
    'info-color': $color-info,
    'success-color': $color-success,
    'background-color': #53576D,

    'link-color': mat.get-color-from-palette( $primary, 200 ),
    'heading-color': mat.get-color-from-palette( $primary, 500 )
));

// you can add color variables from other libraries/name-spaces here as well
/*
:root {
    --library-variablename: #fff;
}
*/

.lower-footer__partners {
    a {
        img {
            height: 75px !important;
        }
    }
}

.mat-card-title {
    color: $color-primary;
}

body > * > .page-content > *:not(router-outlet) {
    padding: 0;
}
