/* You can add global styles to this file, and also import other style files */
@import 'theme/theme-colors.scss';
@import 'theme/theme-lasp.scss';

@import '~lasp-base-app-snippets/styles/global.scss';
@include all((
    'primary-color': $color-primary,
    'primary-contrast-color': $color-primary-contrast,
    'accent-color': $color-accent,
    'info-color': $color-info,
    'success-color': $color-success,
    'background-color': #53576D,

    'link-color': mat-color( $primary, 200 ),
    'heading-color': mat-color( $primary, 500 )
));

// you can add color variables from other libraries/name-spaces here as well
/*
:root {
    --library-variablename: #fff;
}
*/

.lower-footer__partners {
    a {
        img {
            height: 75px !important;
        }
    }
}

.mat-card-title {
    color: $color-primary;
}

// TODO: figure out how to nest this in specific components
.mat-menu-panel {
	padding: 1rem;
	max-width: fit-content !important;
}

body > * > .page-content > *:not(router-outlet) {
    padding: 0;
}


.ngx-slider[laspEnhancedNgxSlider]{
    @include custom-slider( $color-primary );
    .ngx-slider-tick {
        pointer-events: none;
        margin-left: 4px;
        &.ngx-slider-selected {
            background-color: $color-accent;
        }
    }
}
