@use 'lasp-base-app-snippets/styles/global';

/* You can add global styles to this file, and also import other style files */
@use "sass:color";
@use 'theme/theme-colors.scss';

@include global.all((
    'primary-color': theme-colors.$color-primary,
    'primary-contrast-color': theme-colors.$color-primary-contrast,
    'accent-color': theme-colors.$color-accent,
    'info-color': theme-colors.$color-info,
    'success-color': theme-colors.$color-success,
    'background-color': #53576D,
    'link-color': color.adjust( theme-colors.$color-accent, $lightness: -20%),
    'heading-color': theme-colors.$color-primary
));

// you can add color variables from other libraries/name-spaces here as well
// for some reason, these don't have any effect here, but keeping them in, in case
:root {
    --scicharts-accent: #{theme-colors.$color-accent};
    --scicharts-info: #{theme-colors.$color-info};
    --scicharts-primary: #{theme-colors.$color-primary};
    --scicharts-primary-contrast: #{theme-colors.$color-primary-contrast};
}

.lower-footer__partners {
    a {
        img {
            height: 75px !important;
        }
    }
}

.lower-footer__partner-logo {
    max-height: 72px !important;
}

.mat-mdc-card-title {
    color: theme-colors.$color-primary;
}

body > * > .page-content > *:not(router-outlet) {
    padding: 0;
}

.ngx-slider[laspEnhancedNgxSlider]{
    @include global.custom-slider( theme-colors.$color-primary );
    .ngx-slider-tick {
        pointer-events: none;
        margin-left: 4px;
        &.ngx-slider-selected {
            background-color: theme-colors.$color-accent;
        }
    }
}
