@use 'lasp-base-app-snippets/styles/global';

/* You can add global styles to this file, and also import other style files */
@import 'theme/theme-colors.scss';

@include global.all((
    'primary-color': $color-primary,
    'primary-contrast-color': $color-primary-contrast,
    'accent-color': $color-accent,
    'info-color': $color-info,
    'success-color': $color-success,
    'background-color': #53576D,
    'link-color': darken( $color-accent, 20%),
    'heading-color': $color-primary
));

// you can add color variables from other libraries/name-spaces here as well
// for some reason, these don't have any effect here, but keeping them in, in case
:root {
    --scicharts-accent: #{$color-accent};
    --scicharts-info: #{$color-info};
    --scicharts-link: #{$color-link};
    --scicharts-primary: #{$color-primary};
    --scicharts-primary-contrast: #{$color-primary-contrast};
}

.lower-footer__partners {
    a {
        img {
            height: 75px !important;
        }
    }
}

.mat-mdc-card-title {
    color: $color-primary;
}

body > * > .page-content > *:not(router-outlet) {
    padding: 0;
}

.ngx-slider[laspEnhancedNgxSlider]{
    @include global.custom-slider( $color-primary );
    .ngx-slider-tick {
        pointer-events: none;
        margin-left: 4px;
        &.ngx-slider-selected {
            background-color: $color-accent;
        }
    }
}
