.menu {
	&__control {
		&--row {
			margin-right: 1rem;
		}
		&--col {
			margin-bottom: 1rem;
		}
		&--center {
			text-align: center;
		}
	}
	&__fill {
		flex: 1 1 auto;
	}
	&__icon {
		background-color: transparentize(black, 0.7);
		border-radius: 0;
		color: white;
	}
	&__checkbox {
		width: 100%;
		&--trigger {
			display: flex;
		}
		::ng-deep {
			// make the label fill the entire menu-item line, so entire line is clickable
			.mat-checkbox {
				width: 100%;
				.mat-checkbox-layout {
					width: 100%;
				};
				.mat-checkbox-label {
					width: 100%;
				};
			}
			// remove the ripple from the menu items that contain a checkbox
			.mat-ripple.mat-menu-ripple {
				display: none;
			}
		}
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&--margin {
			margin-bottom: 0.5rem;
		}
	}
    &__spacer {
        margin: 1rem 0;
        position: relative !important;
    }
}
